<html>
    <head>
    	<title> Login </title>
    </head>


<body align="center">

    <div align="right"><a href="/signup">Signup</a></div>
	
    <h1> User Login </h1>
	
    {% if form.errors %}
    
        <p> Incorrect Username or Password{{ form.errors|pluralize }} </p>
    
    {% endif %}

	<form action = "" method = "POST">
        
		<table align="center">
    
            {{ form.as_table }}   
    
        </table>

		{% csrf_token %}
        <input style="margin-left:60px" type = "submit" value="Submit">

	</form>
</body> 
</html>