<html>
    <head>
    	<title> Detect Broken Links </title>
    </head>
    
<body align = "center">

	<h1>Detect The Broken Links</h1>
    
        {% if request.user.is_authenticated %}
    
            <div id= "login">Hello, Thanks for logging in!</div>
    
        {% endif %}

	    {% if form.errors %}
    
            <p> Please Correct The Error{{ form.errors|pluralize }} </p>
    
        {% endif %}
	<form action = "" method = "POST">
        {% csrf_token %}
    
        <div align="right"><a href="/accounts/logout">Logout</a></div>
    
        <table align="center">
    
            {{ form.as_table }}   
    
        </table>           
    
            <div><input style="margin-left:80px" type="submit" name="submit" value="Submit"></div>              
    </form>
</body> 
</html>