<html>
    <head>
    	<title>Login</title>
    </head>

<body align = "center">
	<h1>Login</h1>
	{% if form.errors %}
        <p> Please Correct The Error{{ form.errors|pluralize }} </p>
    {% endif %}
	<form action = "" method = "POST">
		<div>
        	{{ form.username.errors }}
        	{{ form.username.label_tag}}
        	{{ form.username }}
		</div>
		<div>
        	{{ form.password.errors }}
        	{{ form.password.label_tag}}
        	{{ form.password }}
		</div>
		<div>
			{% csrf_token %}
            <input type="hidden" name="next" value="{{next}}"/>
        	<input type="submit" name="submit" value="Submit">
		</div>

	</form>
</body> 
</html>