<html>
    <head>
    	<title>Result</title>
    </head>

    <body align = "center">
    	<h1>Results</h1>

        <div align="right"><a href="/accounts/logout">Logout</a></div>
        
        <h2> These are the {{ length.0 }} links in the URL - <a href="{{ url }}"> {{ url }} </a></h2>
        
        {% for good_url in all_url %}
            <div>Link - <a href = "{{ good_url }}">{{ good_url }}</a> is <b>Not Broken</b></div>
        {% endfor %}

        {% for dead_url in bad_url %}
            <div>Link - <a href = "{{ dead_url }}">{{ dead_url }}</a> is <b>Broken</b></div>
        {% endfor %} 
        
        {% if level > 1 %}

            {% for link_name, link_url in dictionary_of_links.items %}
                {% for level in link_url.0 %}
                    <h4>Level - {{ level }}</h4>
                {% endfor %}

                {% for url_count in link_url.1 %}
                    <h3>Below are the {{ url_count }} links which is in URL - <a href="{{ link_name }}" >{{ link_name }}</a></h3>
                {% endfor %}
                
                {% for good_link_url in link_url.2 %}   
                    <div>Link - <a href="{{ good_link_url }}" >{{good_link_url}}</a> is <b>Not Broken</b> </div>
                {% endfor %}

                {% for bad_link_url in link_url.3 %}   
                    <div>Link - <a href="{{ bad_link_url }}"> {{bad_link_url}} </a> is <b>Broken</b> </div>
                {% endfor %}
            {% endfor %}
        {% endif %}        
    </body> 
</html> 

