<html>
    <head>
    	<title>Signup</title>
    </head>
    

<body align= "center">

	<div align="right"><a href="/accounts/login">Login</a></div>

    <h1>Signup</h1>

	{% if form.errors %}
    
        <p> Please Correct The Error{{ form.errors|pluralize }} </p>
    
    {% endif %}

	<form action = "" method = "POST">
    
        <table align="center">
    
            {{ form.as_table }}   
    
        </table>

        {% csrf_token %}
        <div class="input"><input type="submit" name="submit" value="Submit"></div>
        
	</form>

</body> 

</html>